<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >

  <extensions>
    <add assembly="NLog.Targets.SQS"/>
  </extensions>

  <targets>
    <target xsi:type="SQS"
            name="SQS Target"
            RegionEndpoint ="us-west-1"
            AwsAccessKeyId="XXXXXXX"
            AwsSecretAccessKey="YYYYYYYYYY"
            QueueUrl ="https://sqs.us-west-1.amazonaws.com/000000000000/sqs-queue-name"/>
            <!--WARNING: The unit tests will purge this SQS queue if it contains existing messages!!!-->
    
    <target xsi:type="File"
            name="jsonlines"
            fileName="${basedir}/logs/FootplateWorker.${date:format=yyyy-MM-dd}.jsonl"
            layout="{&quot;logger&quot;:&quot;${json-encode:${logger}}&quot;,&quot;severity&quot;:&quot;${json-encode:${uppercase:${level}}}&quot;,&quot;eventTime&quot;:&quot;${json-encode:${longdate}}&quot;,&quot;message&quot;:&quot;${json-encode:${message}}&quot;,${onexception:&quot;exception&quot;\:&quot;${json-encode:${exception:format=tostring}}&quot;,}&quot;pid&quot;:&quot;${json-encode:${processid}}&quot;,&quot;thread&quot;:&quot;${json-encode:${threadid}}&quot;${when:when=length('${event-context:item=alert}')>0:,&quot;alert&quot;\:&quot;${json-encode:${event-context:item=alert}}&quot;}}"
            />
  </targets>

  <rules>
    <logger enabled="false" name="*" minlevel="Debug" writeTo="jsonlines" />
    <logger name="*" minlevel="Debug" writeTo="SQS Target" />
  </rules>
</nlog>